/*=============== CARD ===============*/
.container {
  margin-inline: 1.5rem;
  padding-block: 5rem;

  &__title {
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--title-color);
    margin-bottom: 3rem;
  }
}
